body{
    background-color: aqua;
    text-align: center;
}

h3{
    font-size:2em;
    margin-bottom: 1px;
    background: linear-gradient(forestgreen, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h5{
    font-size:1.3em;
    color: crimson;
    margin-top: 15px;
    font-style: italic;
}

audio{
    margin-top: 15px;
}

<<<<<<< HEAD:static/style459.css
#artists_img{
    border-radius: 10em;
    width: 50px;
    height: 50px;
=======
a{
    font-size: 2em;
>>>>>>> search:static/style123.css
}