<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style459.css') }}" type="text/css" />
    </head>

    <body>
        <form method="POST">
            Song Name:<br>
            <input type="text" name="tag"><br>
            <input type="submit" value="Submit">
        </form>
        <h3>{{data.name}}</h1>
        <h5><img id='artists_img' src={{data.artists_img}}></img> {{data.artists}}</h5>
        <img src={{data.image}} width=200 height=200></img>
        <br>
        {%if data.song_preview_url != None%}
        <audio controls>
          <source src={{data.song_preview_url}} type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        {%endif%}
        <br>
        <a href={{data.song_lyrics}} target="_blank">Click for Lyrics</a>
    </body>

</html>
